/*Estilos generales*/
*{font-family: "Liter", sans-serif;
    margin: 0px;
    padding: 0px;
}



.ul{
    list-style: none;
    text-decoration: none;
}




.títulos-secciones{
    color: #A40234;
    font-size: 2.5rem;
    font-family: "Faculty Glyphic", sans-serif;
}

/*INDEX*/
/*Estilos header index*/
.index-header{
    background-color: #989FCB;
    background-repeat: no-repeat;
    background-repeat: fixed;
    background-size: cover;
    height: 50%;
}

.content-box-nav-index{
   padding-top: 30px;
   padding-bottom: 30px;
}

.navbar-ul li a{
    color: #29274E;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

.index-parrafo-header{
    color: #29274E;
    font-size: 1rem;
    margin-top: 10px;
}

.index-h1{
    color: #A40234;
    font-size: 2rem;
    margin-top: 30px;
    font-family: "Faculty Glyphic", sans-serif;

}

.content-index-header{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 40rem;
}


.fotoperfil{
    width: 93%;
    max-width: 40rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}



.index-header-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/*Estilos main index*/
/*Projects index*/

.título-projects-index {
    color: #A40234;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: "Faculty Glyphic", sans-serif;
}
.projects{
    background-color: #E9EBE8;
    padding: 20px;
    height: 100%;
}

.card-index{
    width: 17rem;
    height: 23rem;
    background-color: #ffffff;
    margin: 7px;
    border-radius: 20px;
    
}

.card-index img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.content-text-card{
    margin-top: 10px;
    margin-left: 25px;
    text-align: left;
    align-content: baseline;
}

.pagelink{
  display: inline-block;
    padding: 10px 20px;
    background-color: #452346;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px
}
.card-title{
    color: #000000;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

.card-container-index{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}


/*Estilos vision index*/
.vision{
    background-color: #29274E;
    background-repeat: no-repeat;
    background-repeat: fixed;
    background-size: cover;
    height: 95vh;
}
.text-vision{
    color: #ffffff;
    font-size: 1.2rem;
}
.visionimg{
    width: 30rem;
}

.vision-content{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    height: 95vh;

}

.vision-text-content{
   margin-left: 100px;
}





/*Estilos footer index*/
.index-footer{
    background-color: #A40234;
    background-repeat: no-repeat;
    background-repeat: fixed;
    background-size: cover;
    height: 35vh;
}

.título-footer-index{
    color: #ffffff;
    font-size: 2.5rem;
    text-align: left;
    font-family: "Faculty Glyphic", sans-serif;
}
.index-footer-subtitle{
    color: #ffffff;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 20px;
}

.index-footer-text{
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 10px;
}

.index-footer-content{
    display: flex;
    flex-direction: row;
    height: 20vh;
}

.work-together-content{
   display: flex;
   flex-direction: column;
   margin-left: 100px;
   margin-top: 20px;
   width: 30%;
}

.index-footer-nav-content{
    display: flex;
    flex-direction: row;
    align-content: right;
    justify-content: end;
}

.index-footer-nav li a{
    color: #989FCB;
    text-decoration: none;
    font-size: 1rem;
}

.derechos{
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}


/*PHOTOGRAPHY PAGE*/

.títulos-pages{
    color: #A40234;
    font-size: 4rem;
    font-family: "Faculty Glyphic", sans-serif;
    text-align: left;
}

.photo-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 80px;
    width: 35%;
}

.text-pages {
    color: #29274E;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 70px;
}

.pages-card-title {
    color: #000000;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.pages-card-description {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 10px;
}
.pages-card-show-more {
    color: #000000;
    font-size: 1rem;
    justify-content: flex-end;
    margin-top: auto;
}

.photo-pages-img {
    width: 17rem;
}

.pages-card {
   display: flex;
   flex-direction: row;
}

.pages-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;
    width: 17rem;
    height: 13.6rem;
}

.pages-cards-general-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
}


@media only screen and (min-width: 900px) {
  
   .navbar-ul{
   flex-direction: row;
   justify-content: center;
    }

    .index-header{
        height: 95vh;
    }

   .fotoperfil{
    width: 35rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }

    .index-header-flex {
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    }

    .index-parrafo-header{
    font-size: 1.2rem;
  
    }

   .index-h1{
    font-size: 3.5rem;
    margin-top: 0rem;
    
    }

    .navbar-ul li a{
    font-size: 1.2rem;
    }


    .content-index-header{
    margin-left: 0rem;
    margin-right: 0rem;
    height: auto;
    align-content: center;
    }

  
   
}




  
